{% load static  %}

<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main>
        {% block content %}
        {% endblock %}

        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button onclick="window.location.href='/'">回到主页</button>
                <button type="submit">登出</button>
            </form>

        {% endif %}
    </main>
</body>
</html>
